@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #a755f6;
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.heroBg {
  background-image: url("../public/endless-constellation.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation-name: bounce;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: 2;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: #a755f6;
  transform-origin: 0%;
}

.background {
  background: rgb(238, 75, 246);
  background: linear-gradient(
    80deg,
    rgba(238, 75, 246, 1) 0%,
    rgba(2, 0, 36, 1) 49%,
    rgba(238, 75, 246, 1) 100%
  );
}
